src/main/mule/ec-demo-jenkins-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="d898061d-7861-457f-accb-be2ef941b992" name="Router" raml="api/ec-demo-jenkins-api.raml" />
	<flow name="ec-demo-jenkins-api-main" doc:id="360ec8d1-c5e9-4f56-99da-6877ba87ff4c" >
		<http:listener doc:name="Listener" doc:id="8aeaffe6-3892-4377-a2c0-609416062b35" config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
		</http:listener>
		<set-variable variableName="correlationId" value="#[message.attributes.guid default uuid()]" doc:name="set correlationId" />
		<apikit:router doc:name="APIkit Router" doc:id="e474b7e2-127a-4371-af30-b98e39d0bc3c" config-ref="Router"/>
	</flow>
	<flow name="ec-demo-jenkins-api-console" doc:id="7d0f944e-387b-4a6f-94c1-de21e517ef93" >
		<http:listener doc:name="Listener" doc:id="d21e0e9b-9c88-45dd-a6bc-98f84ef8852a" config-ref="HTTP_Listener_config" path="/console/*"/>
		<apikit:console doc:name="APIkit Console" doc:id="16be3bd8-ff97-461c-86df-566605fbfe96" config-ref="Router"/>
	</flow>
</mule>
